* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
    /* overflow: hidden; */
}

header {
    height: 62vw;
    padding: 4vw 5.5vw;
    background-image: url(../images/Livello\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-right img {
    width: 4.3vw;
    height: 3.5vw;
}

.header-top-left_list li {
    display: inline-block;
    margin-left: 4.5vw;
}

.header-top-left_list li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4em;
}

.header-middle {
    position: relative;
    top: 24.2vw;
    color: var(--white-color);
    text-align: center;
}

.header-middle h2 {
    font-size: 4.7em;
    margin-bottom: 2vw;
}

.header-middle article {
    font-size: 1.6em;
}

.header-middle_icon {
    position: relative;
    top: 13vw;
    font-size: 3vw;
}

/* End header */

main {
    /* padding: 4.7vw 7.8vw; */
    font-weight: bold;
}

.main-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.7vw 7.8vw;
    background-color: var(--bg-color);
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 2.5vw;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-left: 0.8vw;
}

[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 0.16vw solid #ccc;
    background: #fff;
    border-radius: 0.32vw;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 0.16vw solid var(--primary-color);
    background: #fff;
    border-radius: 0.32vw;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: var(--primary-color);
    transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.filter-all button {
    width: 16vw;
    height: 4.3vw;
    border: none;
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
    border-radius: 0.2vw;
    font-size: 1.1em;
}

/* end filter */

.main-product {
    position: relative;
    padding: 0 7.8vw;
}

.main-tilte {
    font-weight: bold;
    padding: 7vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-tilte span {
    font-size: 1.3em;
}

.main-tilte hr {
    width: 76vw;
    height: 0.15vw;
    color: #ccc;
    /* position: relative;
    top: -0.8vw;
    left: 6vw; */
    background-color: #ccc;
    border-width: 0;
}

.main-goods-order {
    position: absolute;
    top: 11.7vw;
    right: 7.8vw;
    color: var(--primary-color);
    font-size: 1.3em;
}

.main-goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-goods {
    text-transform: uppercase;
    position: relative;
    width: 25vw;
    height: 29.5vw;
    background-color: var(--bg-color);
    background-image: url(../images/Livello\ 2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 1.3em;
}

.one-goods.choise {
    border: 0.5vw solid var(--primary-color);
    border-radius: 0.2vwvv;
}

.one-goods.two {
    background-image: url(../images/Livello\ 3.png);
    background-size: 35%;
}

.one-goods.three {
    background-image: url(../images/Livello\ 4.png);
    background-size: 35%;
}

.goods-size {
    position: absolute;
    font-size: 1.3em;
    left: 2vw;
    top: 2.3vw;
}

.good-color {
    position: absolute;
    top: 2.3vw;
    right: 2vw;
}

.goods-name {
    position: absolute;
    bottom: 2.3vw;
    left: 2vw;
    color: var(--primary-color);
}

.goods-price {
    position: absolute;
    right: 2vw;
    bottom: 2.3vw;
}

.women .main-tilte {
    flex-direction: row-reverse;
}

.women .main-goods-order {
    left: 7.8vw;
}

.women .one-goods {
    background-image: url(../images/Livello\ 5.png);
}

.women .two {
    background-image: url(../images/Livello\ 6.png);
}

.women .three {
    background-image: url(../images/Livello\ 7.png);
}

.main-product.women {
    margin-bottom: 7.8vw;
}

/* end product */

.main-info {
    color: #8f8262;
    width: 100vw;
    height: 31.4vw;
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 6.3vw;
}

.main-info fieldset {
    display: block;
    border-color: #8f8262;
    border-width: 0.15vw;
    width: 55.5vw;
    height: 19,5vw;
    margin: auto;
    padding: 7vw;
    outline: none;
}

.main-info legend {
    font-size: 1.6em;
}

.main-info article {
    color: var(--black-color);
    font-size: 1.3em;
    font-weight: 400;
}

/* end main info */

.main-note {
    height: 5.6vw;
    width: 100vw;
    padding: 0 7.8vw;
    background-color: #535253;
    display: flex;
    align-items: center;
}

.main-note i {
    font-size: 2.3em;
    color: #424242;
}

.main-note q {
    font-size: 1.3em;
    color: var(--white-color);
}

footer {
    height: 27.5vw;
    width: 100vw;
    /* padding: 7.8vw 0; */
    background-color: #424242;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left {
    margin-left: 7.8vw;
}

.content-left h4 {
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 2vw;
}

.content-left article {
    font-size: 0.8em;
}

.content-right {
    margin-right: 7.8vw;
    text-transform: uppercase;
    font-size: 1.1em;
}

@media only screen and (max-width: 700px) {
    html, body {
        font-size: 0.6em;
    }

    .main-goods {
        display: flex; 
        flex-direction: column;
    }

    .one-goods {
        width: 100%;
        height: 70vw;
        margin-bottom: 5vw;
    }
}




