* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen;
    font-family: 'Quicksand', sans-serif;
}

header {
    height: 80vh;
    padding: 50px 70px;
    background-image: url(../images/Livello\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left_list li {
    display: inline-block;
    margin-left: 55px;
}

.header-top-left_list li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
}

.header-middle {
    position: relative;
    top: 30%;
    color: var(--white-color);
    text-align: center;
}

.header-middle h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.header-middle article {
    font-size: 16px;
}

.header-middle_icon {
    position: relative;
    top: 35vh;
    font-size: 40px;
}

/* End header */

main {
    padding: 0 100px;
}

.main-filter {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--primary-color);
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: var(--primary-color);
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}