* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen
}

header {
    width: 100%;
    height: 90vh;
    padding: 0 70px;
    background-image: url(../images/Livello\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}