* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen
}

header {
    height: 90vh;
    padding: 50px 70px;
    background-image: url(../images/Livello\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left_list li {
    display: inline-block;
}